@(form: Form[UserExpr], yamlGroup: String = "", yamlDec: String = "")(implicit messages: play.api.i18n.Messages, request: RequestHeader)

@main("What the faacet?") {

    <h1>What the faacet?</h1>

    @helper.form(routes.HomeController.parseUserExpr) {

        @helper.inputText(form("scenario"))

        @helper.inputRadioGroup(form("representation"),
            Seq("PVec" -> "Full vector P(ab..|xy..)",
                "CGVec" -> "Collins-Gisin vector",
                "CorrVec" -> "Correlators vector",
                "Expr" -> "Expression"))

        @helper.textarea(form("coefficients"))

        @if(form.hasGlobalErrors) {
            <ul>
            @for(error <- form.globalErrors) {
                <li>@Messages(error.messages, error.args)</li>
            }
            </ul>
        }

        <button type="submit">Compute projection and symmetry group</button>

    }

    <h2>Projection in NS subspace, with its symmetry group</h2>
    <pre>@yamlGroup</pre>
    <h2>Its canonical decomposition</h2>
    <pre>@yamlDec</pre>

}
